<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warehouse.dal.mapper.ext.ExtInventoryDOMapper">
    <resultMap id="BaseResultMap" type="com.warehouse.dal.model.InventoryDO"
               extends="com.warehouse.dal.mapper.InventoryDOMapper.BaseResultMap">

    </resultMap>
    <sql id="Base_Column_List">
        <include refid="com.warehouse.dal.mapper.InventoryDOMapper.Base_Column_List"/>
    </sql>

    <select id="selectAdminList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `inventory`
        where is_delete = 0
        <if test="skuIds !=null and skuIds.size() >0 ">
            and sku_id in
            <foreach collection="skuIds" item="skuId" close=")" open="(" separator=",">
                #{skuId}
            </foreach>
        </if>
        <if test="productIds !=null and productIds.size() >0 ">
            and product_id in
            <foreach collection="productIds" item="productId" close=")" open="(" separator=",">
                #{productId}
            </foreach>
        </if>
    </select>

    <select id="selectBySku" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `inventory`
        where is_delete = 0
        and product_id = #{productId}
        and sku_id = #{skuId}
    </select>

    <update id="updateInventory">
        update `inventory`
        <set>
            <if test="unit != null">
                unit = #{unit,jdbcType=CHAR},
            </if>
            <if test="totalRemaining != null">
                total_remaining = #{totalRemaining,jdbcType=INTEGER},
            </if>
            <if test="outBoundTimes != null">
                out_bound_times = #{outBoundTimes,jdbcType=INTEGER},
            </if>
            <if test="outBound != null">
                out_bound = #{outBound,jdbcType=INTEGER},
            </if>
            <if test="inBoundTimes != null">
                in_bound_times = #{inBoundTimes,jdbcType=INTEGER},
            </if>
            <if test="inBound != null">
                in_bound = #{inBound,jdbcType=INTEGER},
            </if>
        </set>
        where
        is_delete = 0
        and product_id = #{productId,jdbcType=BIGINT}
        and sku_id = #{skuId,jdbcType=BIGINT}
    </update>
</mapper>