<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warehouse.dal.mapper.ext.ExtSkuDOMapper">
  <resultMap id="BaseResultMap" type="com.warehouse.dal.model.SkuDO"
             extends="com.warehouse.dal.mapper.SkuDOMapper.BaseResultMap">

  </resultMap>
  <sql id="Base_Column_List">
    <include refid="com.warehouse.dal.mapper.SkuDOMapper.Base_Column_List"/>
  </sql>

  <select id="selectByIds" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from `sku`
    where is_delete = 0
    and id in
    <foreach collection="skuIds" separator="," open="(" close=")" item="id">
      #{id}
    </foreach>
  </select>

  <select id="selectByName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from `sku`
    where is_delete = 0
    <![CDATA[ and sku_name like CONCAT('%', #{skuName, jdbcType=VARCHAR}, '%') ]]>
  </select>
</mapper>